<nav class="app-navbar" translate="no">
    <a href="https://www.sillion.com.br/" target="_blank" rel="noopener" class="brand-link">
        <img src="{{logo_url}}" alt="Sillion" class="brand-logo" />
    </a>
    <ul class="nav-links">
        <li><a href="https://www.sillion.com.br/" target="_blank" rel="noopener">Site</a></li>
        <li><a href="mailto:suporte@sillion.com.br">Ajuda</a></li>
    </ul>
</nav>
<div class="app-breadcrumb">
    <a href="/">Home</a>
    <span class="separator">/</span>
    <span>Envio de faturamento</span>
</div>
