# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Arquivos locais de teste
*.xlsx
*.xlsb
*.csv
!requirements.txt
